<!--
FilamentBuddy OctoPrint plugin
Copyright (C) 2024 Daniele Borgo
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="navbar-text" data-bind="visible: filamentbuddy.fs.en() && filamentbuddy.fs.toolbar_en()">
    <img src="/plugin/filamentbuddy/static/img/f_available.png" alt="error"
         style="width: 25px; height: 25px; padding-left: 5px; padding-right: 5px;"
         data-bind="attr:{src: is_filament_error() ? '/plugin/filamentbuddy/static/img/f_error.png' :
                               is_filament_available() ? '/plugin/filamentbuddy/static/img/f_available.png' :
                                                         '/plugin/filamentbuddy/static/img/f_unavailable.png'}">
</div>
